.header {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  // .header__item

  &__item {
    flex: 0 1 50%;
    &.image__item {
      background: url("../src/img/bg.jpg") center / cover no-repeat;
    }

    &.info__item {
      padding: 65px 100px;
      display: flex;
      flex-direction: column;
    }
  }

  // .header__bg
}
.logo {
  padding-bottom: 89px;
}

.header__btn {
  margin-top: 40px;
}

.link {
  margin-top: auto;
  color: $gray;
  a {
    color: $red;
  }
}
