//Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
// $containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//Colors
$blue:#051655;
$lightblue: #F3F6F9;
$red: #EB3035;
$white: #ffffff;
$gray: #747887;
$lightgray: #E5E4E1;

//Burger Menu
$burgerBrekpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

//Fonts
$fontMain: sans-serif;
$fontSecondary: '';
